{% extends 'base.html' %}
{% block content %}

    <main class="d-flex flex-column bg-primary">

        <div class="card shadow-lg border-success d-flex w-75 mx-auto my-4">
            <div class="d-flex align-items-center bg-success card-header text-center">
                <div class="btn btn-primary ms-0">
                    <a class="text-white text-decoration-none" href="{{url_for('indexPage')}}">Back</a>
                </div>
                <h1 class=" ms-5 text-white">Return Books</h1>
            </div>
            <div class="bg-white card-body text-center ">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p class="pl-1 rounded alert-danger"> 
                                {{msg}}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">
                                Actions
                            </th>
                            <th scope="col">
                                Name
                            </th>
                            <th scope="col">
                                Author 
                            </th>
                            <th scope="col">
                                Last Borrowed
                            </th>
                            <th scope="col">
                                Last Borrowed by
                            </th>
                            <th scope="col">
                                Date Registered
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for content in contents %}

                            <tr>
                                <td>
                                    <form method="post" action="{{url_for('returnBooks')}}">
                                        <button type="submit" value="{{content.bookName}}" name="return_btn" class="btn btn-success">Return</button>
                                    </form>
                                </td>
                                <td>
                                    {{content.bookName}}
                                </td>
                                <td>
                                    {{content.author}}
                                </td>
                                <td>
                                    {{content.borrowedBy}}
                                </td>
                                <td>
                                    {{content.dateBorrowed}}
                                </td>
                                <td>
                                    {{content.dateRegistered}}
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>

    </main>

{% endblock content %}